body {
	text-align: center;
}
div, .wrong {
	outline: 2px solid black;
	color: white;
	text-align: center;
	padding: 40px;
	height: 160px;
	width: 160px;
}
div {
	background-color: green;
}
.wrong {
	background-color: red;
}
div a {
	background-color: white;
	padding: 5px 10px;
	margin-top: 40px;
	outline: 5px solid black;
	text-decoration: none;
}